<div class="col-md-4">
</div>
<div class="col-md-4">
<h1 style="text-align: center">Edit User</h1>
<div style="text-align: center">
<%= render 'editform' %>
</div>
</div>
<div class="col-md-4">
</div>
