@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
	background-image: url(http://g.fastcompany.net/multisite_files/cocreate/article_feature/1280-jp-record-shelf-1.jpg);
	background-repeat: no-repeat;
    background-position: right top;
	margin-top: 2%;
	box-shadow: 3px 3px 5px #808080;
}

#prof_pic {
	max-width:100%;
	max-height:100%;
	margin-bottom: 2%;
	border-radius: 10px;
	border: 1px solid #808080;
}


#prof_box {
	box-shadow: 3px 3px 5px #808080;
	padding-top: 2%;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.nav {
	margin-top: 2%;
	margin-bottom: 4%;
}

#login {
		text-align: right;
}

.btn {
	margin-top: 10px;
}

#body {
	background-color: #eaeaea;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #808080;
}

#title {
	/*font-family: 'Permanent Marker', cursive;*/
	font-size: 64pt;
	color: white;
	text-shadow: -4px 4px 2px #000000;
}
#title a {
	text-decoration: none;
	color: white;
}

#rec {
	color:red;
	text-shadow: -4px 4px 2px #000000;
}

#navbar {
	padding-left: 5%;
	background-color: #ff0000;
	border-bottom: 2px solid black;
}

#pills {
	color: white;
	text-shadow: -4px 4px 2px #000000;
}

.thumbnail{
   max-width: 100px;
   max-height: 100px;
}

#pills {
	color: white;
	text-shadow: -4px 4px 2px #000000;
}

.thumbnail-2 {
	height: 30px;
	width: 30px;
	display: inline-block;
}