@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
	background-image: url(http://www.mdmarchive.co.uk/gfx/HiRes-10737.jpg);
	background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
	box-shadow: 3px 3px 5px #808080;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1;
}

#prof_pic {
	max-width:100%;
	max-height:100%;
	margin-bottom: 2%;
	border-radius: 10px;
	border: 1px solid #808080;
}

#prof_content{
	text-align: center;
}

#prof_box {
	box-shadow: 3px 3px 5px #808080;
	padding-top: 2%;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.nav {
	margin-top: 15px;
	margin-bottom: 15px;
}

#login {
	text-align: right;
}
#search{
	text-align: center;
}

.nav-pills li {
	opacity: 1;
	max-width: 50px;
	max-height: 40px;
}

.nav-pills:hover{
	opacity: 1;
}

#body {
	background-color: #eaeaea;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #808080;
	margin-top: 80px;
}

#title {
	font-size: 64pt;
	color: white;
	text-shadow: -4px 4px 2px #000000;
}
#title a {
	text-decoration: none;
	color: white;
}

#rec {
	color:red;
	text-shadow: -4px 4px 2px #000000;
}

#navbar {
	padding-left: 5%;
	background-color: #ff0000;
	border-bottom: 2px solid black;
}

#pills {
	color: white;
	text-shadow: -4px 4px 2px #000000;
}

.thumbnail{
   max-width: 100px;
   max-height: 100px;
}