<div class="col-md-4 col-md-offset-4 text-center">
<h3>Reset Password</h3>
	
    <%= form_tag reset_passwords_path, method: :post do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class: 'form-control', required: true %>
      </div>

      <%= submit_tag "Reset", class: 'btn btn-primary btn-lg' %>
    <% end %>
</div>